.ng-material {
    &-components {
        h2 {
            margin: 0;
            padding: 10px;
        }


        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;

    }

    &-card {
        width: 23%;
        height: 34%;

        a{
            text-decoration-line: none;
            // color: map-get($map: , $key: );
            color: black;
        }
    }

}

:host ::ng-deep .mat-mdc-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-weight: bold;
    font-size: 18px;
}