@use "@angular/material" as mat;
@import "./ng-material-colors";

//define palette
$ng-material-dark-theme-primary: mat.define-palette($ng-material-theme-primary);
$ng-material-dark-theme-accent: mat.define-palette($ng-material-theme-accent);
$ng-material-dark-theme-warn: mat.define-palette($ng-material-theme-warn);

$ng-material-dark-theme: mat.define-dark-theme((
    color: (
        primary: $ng-material-dark-theme-primary,
        accent: $ng-material-dark-theme-accent,
        warn: $ng-material-dark-theme-warn
    )
));

// or like this

// $wolken-dark-theme: mat.define-dark-theme(
//     $ng-material-dark-theme-primary,
//     $ng-material-dark-theme-accent,
//     $ng-material-dark-theme-warn
// );

.dark-primary{
    color: mat.get-color-from-palette($ng-material-dark-theme-primary);
}