<!-- simple menu -->
<button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu">Simple Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

&nbsp;
&nbsp;

<!-- menu with icons -->
<button mat-icon-button color="accent" [matMenuTriggerFor]="menu2" #ptriggerMenu="matMenuTrigger" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="print()">
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
</mat-menu>

&nbsp;
&nbsp;

<!-- nested menu -->
<button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu3">Nested Menu</button>
<mat-menu #menu3="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="nestedMenu1">Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #nestedMenu1="matMenu">
    <button mat-menu-item>Nested Menu Item 1</button>
    <button mat-menu-item>Nested Menu Item 2</button>
</mat-menu>

<br><br>

<!-- positioning -->
<button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<br><br>

<!-- pass data -->

<button mat-icon-button [matMenuTriggerFor]="dataMenu" [matMenuTriggerData]="{name: 'Roshan'}">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #dataMenu="matMenu">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item (click)="getName(name)">Item {{name}}</button>
    </ng-template>
</mat-menu>